* {
    margin: 0;
    padding: 0;;
}

.container {
    background-color: #42095D ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa {
    background-color: white;
    width: 50%;
    height: 50%;
}

img {
    width: 100%;
    height: auto;
}

.espaco-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;row-gap: 15px;
}

.botoes-principais {
    display: flex;
    column-gap: 10px;
}

.botao {
    padding: 9px;
    background-color: #B86CCD;
    color: white;
}

.botao2 {
    padding: 9px;
    background-color: #EC434C;
    color: white;
}