@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;;
}

.container {
    background-color: #42095D ;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa {
    background-color: white;
    width: 360px;
    height: 440px;
    padding: 15px;
    border-radius: 10px;
}

h1, p {
    margin: 20px;

}

h1 {
    text-align: center;
    font-size: 1.5em;
}

img {
    width: 100%;
    height: auto;
}

.espaco-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;row-gap: 15px;
}

.botoes-principais {
    display: flex;
    column-gap: 10px;
}

.botao {
    padding: 9px;
    background-color: #B86CCD;
    color: white;
}

.botao2 {
    padding: 9px;
    background-color: #EC434C;
    color: white;
}