* {
    margin: 0;
    padding: 0;;
}

.container {
    background-color: #42095D ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa {
    background-color: white;
    width: 50%;
    height: 50%;
}

img {
    width: 100%;
    height: auto;
}